KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=nhom16
DEMO_CLIENT_ID=zero-trust-demo
DEMO_CLIENT_SECRET=ChangeMe_Client_123!
DEMO_USER_PASSWORD=ChangeMe_User_123!
DEMO_ADMIN_PASSWORD=ChangeMe_AdminUser_123!
DEMO_GUEST_PASSWORD=ChangeMe_Guest_123!